/* Thêm các kiểu CSS ở đây */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.product {
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 300px;
}

.cart {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    float: right;
}

.cart h2 {
    margin-top: 0;
}

#cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#checkout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
}
/* Thêm các kiểu CSS cho phân trang ở đây */

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* Phần form đặt hàng */
#order-form {
    display: none;
    background-color: #f5f5f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Giảm padding từ 20px xuống 10px */
    margin-top: 20px;
    text-align: center;
    max-width: 300px; /* Thêm giới hạn chiều rộng tối đa */
    margin-left: auto; /* Căn giữa theo chiều ngang */
    margin-right: auto;
}

#order-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

#order-form p {
    font-size: 16px;
    margin: 5px 0;
}

#order-form span {
    font-weight: bold;
    color: #333;
}

#order-form label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    text-align: left; /* Căn trái cho nhãn label */
}

#order-form input[type="number"],
#order-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box; /* Để input không bị tràn ra ngoài khung */
}

#order-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

#order-button:hover {
    background-color: #0056b3;
}



